/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: forestgreen;
    text-align: center;
    font-weight: bold;
    border-color: rgb(3, 170, 53);
    border-left: 10px solid rgb(252, 255, 67);
    border-right: 10px solid rgb(252, 255, 67);
    border-radius: 20px;
    border-style: double;
}

img {
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
    border-radius: 35px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Hace que las imágenes sean responsivas */
    border-radius: 35px;
}

p {
    color: #666;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Media Query para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px; /* Reducir el tamaño del título para pantallas más pequeñas */
        border-width: 5px; /* Ajustar el grosor del borde del título */
        border-radius: 10px; /* Hacer los bordes del título más redondeados */
    }

    img,
    .center-image {
        width: 80%; /* Reducir el ancho de las imágenes para pantallas más pequeñas */
    }

    button {
        font-size: 14px; /* Reducir el tamaño del texto del botón para pantallas más pequeñas */
    }
}


/*
body {
    font-family: Arial, sans-serif;
}

h1 {
    color:forestgreen;
    text-align: center;
    font-weight: bold;
    border-color: rgb(3, 170, 53);
    border-left: 10px solid rgb(252, 255, 67);
    border-right: 10px solid rgb(252, 255, 67);
    border-radius: 20px;
    border-style: double;
}

img {
    width: 50%;
    border-radius: 35px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    color: #666;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/